<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>왕벌의 비행 관리자</title>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet" />
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/style_main.css" type="text/css" />
</head>

<body>

  <h1>왕벌의 비행 관리자</h1>
  <a href="/adminpage/logout">로그아웃</a>
  <strong><%= admin %>님 어서오세요</strong>
  <strong id="user_email"><%= admin_email%></strong>
  <div id="menu">
    <button id="btn_user">유저 관리</button>
    <button id="btn_stage">스테이지 관리</button>
    <button id="btn_ban">밴 유저 목록</button>
    <button id="btn_report">신고 많이 당한 유저 목록</button>
    <button id="btn_sendemail">이메일 발송</button>
    <button id="btn_filteringDB">필터링단어 관리</button>
    <button id="btn_log">서버 로그(할지 안 할지 모름)</button>
    <button id="btn_react">리액트연습</button>
  </div>
  <div id="user_count"></div>
  <div id="root"></div>
  <div id="user_component"></div>
  <div id="stage_component"></div>
  <div id="ban_component"></div>
  <div id="report_component"></div>
  <div id="sendemail_component"></div>
  <div id="filteringDB_component"></div>
  <div id="log_component"></div>
  <div id="react_component"></div>
  <div id="modal">

    <div id="user_ban_modal">
      <span id="final_check"></span>
      <span> 를 정말 밴하시겠습니까?</span>
      <button id=ban_btn>네</button>
      <a class="modal_close_btn">닫기</a>
    </div>

    <div id="user_modify_modal">
      <div id="user_modify_modal_info">컴마 꼭 잊지마세용</div>
      <div id="googleid_modal">
        <label for="googleid">googleid</label>
        <input id="googleid" placeholder="googleid" name="googleid">
      </div>
      <div id="email_modal">
        <label for="email">email</label>
        <input id="email" placeholder="email" name="email">
      </div>
      <div id="crystal_modal">
        <label for="crystal">crystal</label>
        <input id="crystal" placeholder="crystal" name="crystal">
      </div>
      <div id="royal_crystal_modal">
        <label for="royal_crystal">royal_crystal</label>
        <input id="royal_crystal" placeholder="royal_crystal" name="royal_crystal">
      </div>
      <div id="bee_custom_modal">
        <label for="bee_custom">bee_custom</label>
        <input id="bee_custom" placeholder="bee_custom" name="bee_custom">
      </div>
      <div id="badge_modal">
        <label for="badge">badge</label>
        <input id="badge" placeholder="badge" name="badge">
      </div>
      <button id=modify_btn>수정</button>
      <a class="modal_close_btn">닫기</a>
    </div>

    <div id="report_modal">

    </div>


  </div>


  <script src="/js/dist/react_app.js"></script>

</body>

</html>